
*{
	margin:0;
	padding:0;

}
.HomeTop{
    position:fixed;
    width:100%;
    padding-top:5px;
    margin:0;
    color:white;
}

.MediumComboAndDate {
    background-color: white;
    width: 350px;
    color: black;
    font-weight: normal;
    border: 0.5px solid darkgray;
}
.FormLabel150 {
    width: 150px;
}

.Welcome {
    font-size:30px;
    color:white;
    padding-right:10px;
    padding-top:10px;
    
}

.FontMenu {
    font-size:30px;
    color:white;
    padding-right:10px;
    padding-top:10px;
}


.HomeTopStripe {
width:100%;
padding-bottom:4px;
padding-top:1px;
position:fixed;
background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
    .HomeTopStripe a {
        color:white;    
        text-decoration:none;
        font-size:100%;
        padding-left:3px;
        padding-bottom:5px;
    }

body{
	font-family: 'Source Sans Pro', sans-serif;
    background-color:gray;
    font-size:80%;
    

background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.SearchMenu {
    color:black;
    font-size:100%;
    width:100%;
}

.SearchMenuText {
    color:gray;
    font-size:120%;
    
}
ul li{
	list-style:none;
}
h1{
	padding:15px 0 25px 0;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:2.2em;
}
#wrapper{
	width: 728px;
	margin: 60px auto;
	background: #fff;
	padding: 10px;
	height: 280px;
	border:12px solid #DDE0CA;
}
.nav{
	overflow:hidden;
	margin:0 auto;
	width:600px;
}
.nav li{
	width:145px;
	height:50px;
	display:inline-block;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}
.nav li:hover{
	opacity:1;
	height:80px;
}
.nav li.hm:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.fb:hover{
	border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.gp:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.tw:hover{
	border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.cl:hover{
	border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon{
	background:rgba(255, 255, 255, 0.4);
	padding:8px;
	border-radius:100%;
	margin:3px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:10px;
	color:rgba(255, 255, 255, 1);
	font-size:0.9em;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
	padding-top:10px;
}
.hm{
	background:rgba(29, 162, 168, 0.8);
}
.fb{
	background:rgba(255, 89, 76, 0.8);
}
.gp{
	background:rgba(47, 31, 64, 0.8);
}
.tw{
	background:rgba(254, 162, 14, 0.8);
}
.cl{
	background:rgba(93, 181, 29, 0.8);
}

#ChangePasswordScreen {
    background-color: #2E2E2E;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 999;
}

    #ChangePasswordScreen div {
        width: 250px;
        height: 100px;
        margin: 100px auto;
        background-color: #1a1a1a;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 20px;
        color: whitesmoke;
    }

    #ChangePasswordScreen p {
        padding-bottom: 15px;
    }

#LockScreen {
    /*background: url(../Images/LockScreen5.jpg);*/
    background-color: #2E2E2E;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

    #LockScreen div {
        /*width: 350px;
        height: 50px; 
        margin: 150px auto;
        background-color: whitesmoke;
        border: 1px solid darkgray ;
        border-radius: 5px;*/
        width: 250px;
        height: 100px;
        margin: 100px auto;
        background-color: #1a1a1a;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 20px;
        color: whitesmoke;
    }

    #LockScreen p {
        padding-bottom: 15px;
    }